#form{
  display:flex;
  flex-direction:column;
}

#check {
  margin-right: 10px;
  height: 15px;
  width: 15px;

}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #D4ADFC;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5C469C;
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px;
}

#task {
  height: 20px;
  width: 200px;
  border-radius: 5px;
  border: 0;
  margin-top: 5px;
}

#date {
  height: 20px;
  border-radius: 5px;
  border: 0;
  margin-top: 5px;
  margin-bottom: 15px;
}